# MTK project .rc configure

import init.mt6735.usb.rc

on post-fs-data
    #autok
    	#tablet With PC bluetooth pairing anomalies,xmgmf 20170103
#    chown root system /sys/autok/debug
#    chown root system /sys/autok/param_count
#    chown root system /sys/autok/ready
#    chown root system /sys/autok/ss_corner
#    chown root system /sys/autok/suggest_vol
#    chown root system /sys/autok/stage1/2/DONE
#    chown root system /sys/autok/stage1/2/PARAMS
#    chown root system /sys/autok/stage1/2/VOLTAGE
#    chown root system /sys/autok/stage1/2/LOG
#    chown root system /sys/autok/stage2/2

#Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/AD5820AF
    chown system camera /dev/AD5820AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF
    
    chmod 0660 /dev/LC898122AF 
    chown system camera /dev/LC898122AF 

#SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

#Define device for ATCID
    chmod 660 /dev/ttyGS0
    chown system /dev/ttyGS0
    chmod 660 /dev/ttyGS1
    chown system /dev/ttyGS1

on init
    # Refer to http://source.android.com/devices/tech/storage/index.html
    # It said, "Starting in Android 4.4, multiple external storage devices are surfaced to developers through
    #           Context.getExternalFilesDirs(), Context.getExternalCacheDirs(), and Context.getObbDirs().
    #           External storage devices surfaced through these APIs must be a semi-permanent part of the device (such as an SD card slot in a battery compartment).
    #           Developers expect data stored in these locations to be available over long periods of time."
    # Therefore, if the target doesn't support sd hot-plugging (Ex: the SD card slot in a battery compartment), we need to export SECONDARY_STORAGE in 'boot' section
    #
    # export SECONDARY_STORAGE /storage/sdcard1

# For WiFi High Speed calibration
service autokd /vendor/bin/autokd
    class core
    user system
    group system


service atci_service /vendor/bin/atci_service
	socket atci-service stream 660 radio system
	socket atci-serv-fw stream 660 radio system
	user root
        disabled
	group radio system
service atcid-daemon-u /vendor/bin/atcid
	user system
	group radio system media
	disabled
	oneshot

service atcid-daemon-e /vendor/bin/atcid
	user root
	group radio system
	disabled
	oneshot

on early_property:ro.build.type=eng
start atci_service
start atcid-daemon-e
service audio-daemon /vendor/bin/audiocmdservice_atci
    class main
    socket atci-audio stream 660 media system
    user media
    group nvram media system sdcard_rw
    disabled
    oneshot





